In [19]:
# show all plots inside Jupyter
%matplotlib inline

In [1]:
import pandas

In [7]:
NAO = pandas.read_table('data/NAO.txt')

In [8]:
type(NAO)

pandas.core.frame.DataFrame

In [9]:
NAO.head()

   year   NAO
0  1864 -1.02
1  1865 -1.24
2  1866  0.54
3  1867 -1.38
4  1868  2.81

In [12]:
NAO.describe()

              year         NAO
count   146.000000  146.000000
mean   1936.500000    0.193356
std      42.290661    1.907480
min    1864.000000   -4.890000
25%    1900.250000   -1.027500
50%    1936.500000    0.245000
75%    1972.750000    1.580000
max    2009.000000    5.080000

In [27]:
# get the first 5 values from column NAO
NAO.NAO[:5]

0   -1.02
1   -1.24
2    0.54
3   -1.38
4    2.81
Name: NAO, dtype: float64

In [31]:
# get min / max value from a column
print min(NAO.year), max(NAO.year)

1864 2009

In [32]:
# Coerce data to a time series

# NAO.ts <- ts(data=NAO$NAO, start=min(NAO$year), end=max(NAO$year))

In [33]:
pandas.